.headerMenuItem {
  position: relative;
}

.headerMenuItem a {
  padding: 0 10px;
  color: #fff;
}

.headerMenuItem a.isActive {
  color: #f6c886;
}

.headerMenuItem a:hover {
  color: #f6c886;
}

.headerMenuItem a span {
  transition: all 0.3s linear;
  margin-bottom: 5px;
}

.headerMenuItem a.isActive span {
  transform: translate(10px, -15px);
}

.headerMenuItem a:hover span {
  transform: translate(10px, -15px);
}

.headerMenuItem:first-child a {
  padding-left: 20px;
}

.headerMenuItem:first-child a::before {
  display: block;
  width: 70px;
  background: #fff;
  height: 1px;
  position: absolute;
  right: 0;
  transform: rotate(125deg);
  top: 0;
  transform-origin: -12px -5px;
}

.headerMenuItem a::after {
  display: block;
  width: 70px;
  background: #fff;
  height: 1px;
  position: absolute;
  right: 0;
  transform: rotate(125deg);
  top: 0;
  transform-origin: 48px 26px;
}
