.parent {
  transform: rotate3d(2, 2, 1, 320deg);
}

.textBlock {
  background: rgba(189, 184, 184, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
}
