.roundSlider code {
  color: #fff;
  position: relative;
}

.roundSlider code span {
  position: relative !important;
}

.circle,
.circle div {
  width: 24px;
  height: 340px;
  position: absolute;
  left: 45%;
  top: -30px;
}
.circle:before,
.circle div:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 100%;
}
.circle div {
  top: 0;
  left: 0;
  -webkit-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  transform: rotate(24deg);
}
