.header {
  border-bottom: 1px solid #fff;
  height: 60px;
}

.headerBack {
  background: linear-gradient(270deg, rgb(12, 14, 18) 0.14%, rgb(34, 42, 60) 100%);
}

.minHeight {
  min-height: 100vh;
}

.headerMob {
  background: linear-gradient(270deg, #0C0E12 0.14%, #242C40 100%);
  border-bottom: 1px solid #fff;
  height: 60px;
}