.leftSide {
    width: 70px;
    height: 100vh;
}

.rotatedContent {
    transform: rotate(
            -90deg
    ) translate(-100%, 0);
    width: 100vh;
    transform-origin: 0 0;
    padding-right: 60px;
}
.rotatedContent::after {
    display: block;
    content: '';
    height: 1px;
    background: #fff;
    width: calc(100% - 60px);
    position: absolute;
    bottom: -12px;
}

.rotatedContent a:hover {
    text-decoration: none;
}

.rotatedContent a:hover div:last-child {
    color: #f6c886!important;
}