.leftSide {
    width: 70px;
    height: 100vh;
}

.rotatedContent {
    transform: rotate(
            -90deg
    ) translate(-20%, 0);
    width: 100vh;
    transform-origin: 0 0;
    padding-right: 100px;
}
.rotatedContent::after {
    display: block;
    content: '';
    height: 1px;
    background: #fff;
    width: calc(100% - 100px);
    position: absolute;
    bottom: 0;
}