.headerMenuItem {
    position: relative;
}

.headerMenuItem a {
    padding: 0 10px;
}

.headerMenuItem a.is-active,
.headerMenuItem a:hover {
    color: yellow;
}

.headerMenuItem a span {
    transition: all 0.3s linear;
}

.headerMenuItem a.is-active span,
.headerMenuItem a:hover span {
    transform: translate(10px, -15px);
}

.headerMenuItem:first-child a {
    padding-left: 20px;
}

.headerMenuItem:first-child a::before {
    display: block;
    content: '';
    width: 70px;
    background: #fff;
    height: 1px;
    position: absolute;
    right: 0;
    transform: rotate(
            125deg
    );
    top: 0;
    transform-origin: -12px -5px;
}

.headerMenuItem a::after {
    display: block;
    content: '';
    width: 70px;
    background: #fff;
    height: 1px;
    position: absolute;
    right: 0;
    transform: rotate(
            125deg
    );
    top: 0;
    transform-origin: 48px 26px;
}