.myBubbleUI {
    position: relative;
    background-color: rgba(0, 0, 0, 0) !important;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    border-radius: 50px;
    background-color: white !important;
    overflow: hidden !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);

    margin-bottom: 10px;
}

.child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.companyBubble {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: opacity 0.1s ease;
}
