* {
    box-sizing: border-box;
}
.invest {
    align-items: flex-start;
    background-size: 100% 100%;
    display: flex;
    height: 1024px;
    overflow: hidden;
}
.invest .about-us {
    left: 247px;
    letter-spacing: 0px;
    position: absolute;
    top: 48px;
    width: 120px;
    color: #F2F2F2;
    text-decoration: none;
}
.invest .co-founders {
    left: 308px;
    letter-spacing: 0px;
    position: absolute;
    top: 80px;
    width: 173px;
    color: #F2F2F2;
    text-decoration: none;
}
.invest .contacts {
    left: 523px;
    letter-spacing: 0px;
    position: absolute;
    top: 48px;
    width: 121px;
    color: #F2F2F2;
    text-decoration: none;
}
.invest .media {
    left: 404px;
    letter-spacing: 0px;
    position: absolute;
    top: 48px;
    width: 81px;
    color: #F2F2F2;
    text-decoration: none;
}
.invest .projects {
    left: 88px;
    letter-spacing: 0px;
    position: absolute;
    top: 48px;
    width: 114px;
    color: #F2F2F2;
    text-decoration: none;
}
.invest .facebookicon {
    align-items: flex-end;
    background-size: 100% 100%;
    display: flex;
    height: 38px;
    justify-content: flex-end;
    margin-left: 0.22px;
    min-width: 38px;
}
.invest .group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0px;
    min-height: 21px;
    position: absolute;
    top: 1px;
    width: 32px;
}
.invest .group-1 {
    align-items: flex-start;
    display: flex;
    height: 1px;
    justify-content: flex-end;
    left: 16px;
    min-width: 0px;
    position: absolute;
    top: 28px;
}
.invest .group-10 {
    height: 1035px;
    left: 48px;
    position: absolute;
    top: 0px;
    width: 1373px;
}
.invest .group-2 {
    height: 10px;
    left: 0px;
    position: absolute;
    top: 1px;
    width: 15px;
}
.invest .group-3 {
    align-items: flex-end;
    background-size: 100% 100%;
    display: flex;
    height: 22px;
    left: 0px;
    min-width: 22px;
    padding: 0 9.7px;
    position: absolute;
    top: 0px;
}
.invest .group-4 {
    align-items: flex-start;
    display: flex;
    height: 22px;
    justify-content: center;
    left: 8px;
    min-width: 22px;
    position: absolute;
    top: 9px;
}
.invest .group-5 {
    align-items: flex-start;
    display: flex;
    height: 22px;
    left: 19px;
    min-width: 11px;
    position: absolute;
    top: 9px;
}
.invest .group-6 {
    align-items: flex-start;
    display: flex;
    height: 18px;
    left: 16px;
    min-width: 14px;
    position: absolute;
    top: 11px;
}
.invest .group-7 {
    align-items: flex-start;
    display: flex;
    height: 1px;
    justify-content: flex-end;
    left: 16px;
    min-width: 1px;
    position: absolute;
    top: 27px;
}
.invest .group-8 {
    align-items: flex-start;
    display: flex;
    height: 1px;
    left: 16px;
    min-width: 0px;
    position: absolute;
    top: 28px;
}
.invest .group-9 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 1306px;
    min-height: 285px;
    position: absolute;
    top: 381px;
    width: 38px;
}
.invest .image-2 {
    background-color: transparent;
    height: 50px;
    left: 19px;
    object-fit: cover;
    position: absolute;
    top: 283px;
    width: 50px;
}
.invest .instagramicon {
    align-items: flex-start;
    display: flex;
    height: 38px;
    justify-content: center;
    margin-left: 0.07px;
    margin-top: 23px;
    min-width: 38px;
}
.invest .invest {
    left: 546px;
    letter-spacing: 0px;
    position: absolute;
    top: 80px;
    width: 80px;
    color: #F2F2F2;
    text-decoration: none;
}
.invest .investors {
    left: 150px;
    letter-spacing: 0px;
    position: absolute;
    top: 80px;
    width: 130px;
    color: #F2F2F2;
    text-decoration: none;
}
.invest .overlap-group {
    height: 1035px;
    margin-top: -10.66px;
    position: relative;
}
.invest .overlap-group-1 {
    background-size: 100% 100%;
    height: 39px;
    margin-top: -0.61px;
    position: relative;
    width: 38px;
}
.invest .overlap-group-2 {
    align-items: flex-start;
    background-size: 100% 100%;
    display: flex;
    margin-top: -0.49px;
    min-width: 1px;
}
.invest .overlap-group1 {
    background-size: 100% 100%;
    height: 22px;
    position: relative;
    width: 32px;
}
.invest .overlap-group1-1 {
    height: 30px;
    margin-bottom: -0.53px;
    position: relative;
    width: 30px;
}
.invest .overlap-group1-2 {
    align-items: flex-start;
    background-size: 100% 100%;
    display: flex;
    height: 23px;
    margin-top: -0.69px;
    min-width: 22px;
    padding: 5.5px 5px;
}
.invest .overlap-group1-3 {
    align-items: flex-end;
    background-size: 100% 100%;
    display: flex;
    height: 19px;
    margin-top: -0.53px;
    min-width: 15px;
    padding: 0.8px 0;
}
.invest .overlap-group2 {
    height: 23px;
    margin-top: -0.69px;
    position: relative;
    width: 12px;
}
.invest .overlap-group3 {
    background-size: 100% 100%;
    height: 1px;
    margin-top: -0.47px;
    position: relative;
    width: 1px;
}
.invest .overlap-group7 {
    height: 27px;
    margin-bottom: -0.29px;
    position: relative;
    width: 30px;
}
.invest .rectangle-38 {
    background-color: var(--quick-silver);
    border-radius: 3px;
    height: 85px;
    left: 581px;
    position: absolute;
    top: 68px;
    transform: rotate(-90deg);
    width: 1px;
}
.invest .rectangle-39 {
    background-color: var(--quick-silver);
    border-radius: 3px;
    height: 45px;
    left: 524px;
    position: absolute;
    top: 72px;
    transform: rotate(135deg);
    width: 1px;
}
.invest .smart-bolla {
    background-color: transparent;
    color: rgba(255,255,255,1.0);
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-size: 20.2px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: -62px;
    letter-spacing: 6.98px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 164px;
    transform: rotate(
            -90deg
    );
    width: 215px;
}
.invest .telegramicon {
    align-items: flex-start;
    display: flex;
    height: 38px;
    justify-content: flex-end;
    margin-top: 23px;
    min-width: 38px;
}
.invest .united-states-1 {
    align-items: flex-start;
    display: flex;
    height: 32px;
    left: 1310px;
    overflow: hidden;
    padding: 5px 0;
    position: absolute;
    top: 29px;
    width: 32px;
}
.invest .vector {
    height: 3px;
    width: 32px;
}
.invest .vector-1 {
    height: 24px;
    left: 1315px;
    position: absolute;
    top: 511px;
    width: 20px;
}
.invest .vector-10 {
    height: 22px;
    left: 10px;
    position: absolute;
    top: 0px;
    width: 12px;
}
.invest .vector-11 {
    height: 29px;
    left: 9px;
    position: absolute;
    top: 10px;
    width: 29px;
}
.invest .vector-12 {
    height: 12px;
    width: 12px;
}
.invest .vector-13 {
    height: 4px;
    left: 5px;
    position: absolute;
    top: 4px;
    width: 3px;
}
.invest .vector-14 {
    height: 23px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 12px;
}
.invest .vector-15 {
    height: 12px;
    left: 0px;
    position: absolute;
    top: 5px;
    width: 7px;
}
.invest .vector-16 {
    height: 39px;
    margin-left: 0.11px;
    margin-top: 23px;
    width: 38px;
}
.invest .vector-17 {
    height: 27px;
    left: 15px;
    position: absolute;
    top: 10px;
    width: 23px;
}
.invest .vector-18 {
    height: 19px;
    left: 8px;
    position: absolute;
    top: 10px;
    width: 22px;
}
.invest .vector-19 {
    height: 18px;
    left: 8px;
    position: absolute;
    top: 10px;
    width: 22px;
}
.invest .vector-2 {
    height: 3px;
    margin-left: -0px;
    width: 32px;
}
.invest .vector-20 {
    height: 7px;
    width: 5px;
}
.invest .vector-21 {
    height: 1px;
    left: 16px;
    position: absolute;
    top: 27px;
    width: 1px;
}
.invest .vector-22 {
    height: 4px;
    left: 15px;
    position: absolute;
    top: 24px;
    width: 2px;
}
.invest .vector-23 {
    height: 4px;
    left: 16px;
    position: absolute;
    top: 22px;
    width: 1px;
}
.invest .vector-24 {
    height: 26px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 29px;
}
.invest .vector-25 {
    height: 16px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 22px;
}
.invest .vector-26 {
    height: 16px;
    left: 10px;
    position: absolute;
    top: 0px;
    width: 12px;
}
.invest .vector-3 {
    height: 15px;
    left: 14px;
    position: absolute;
    top: 13px;
    width: 12px;
}
.invest .vector-4 {
    height: 1px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1px;
}
.invest .vector-5 {
    height: 1px;
    width: 1px;
}
.invest .vector-6 {
    height: 2px;
    margin-left: -0px;
    width: 32px;
}
.invest .vector-7 {
    height: 12px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 15px;
}
.invest .vector-8 {
    height: 30px;
    left: 1px;
    position: absolute;
    top: 0px;
    width: 29px;
}
.invest .vector-9 {
    height: 9px;
    margin-bottom: -0.64px;
    width: 2px;
}
.invest .we-would-love-t-fosmartbollacom {
    height: 20px;
    left: 902px;
    position: absolute;
    top: 1000px;
    width: 445px;
}
.invest .x2021-smartbolla-rights-reserved {
    height: 17px;
    left: 1052px;
    position: absolute;
    top: 980px;
    width: 294px;
}
.invest .you-tubeicon {
    align-items: flex-end;
    background-size: 100% 100%;
    display: flex;
    height: 38px;
    justify-content: flex-end;
    margin-left: 0.22px;
    margin-top: 24px;
    min-width: 38px;
}
.montserrat-bold-white-20-2px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 20.2px;
    font-style: normal;
    font-weight: 700;
}
.montserrat-semi-bold-concrete-24px {
    color: var(--concrete);
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}
:root {
    --concrete: rgba(242, 242, 242, 1);
    --quick-silver: rgba(168, 168, 168, 1);
}