.profileTable {
    background-color: rgb(246 200 134);
    border-radius: 15px;
    color: #333;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 69%);
}

.profileTable th {
    padding: 20px;
}

.profileTable td {
    padding: 20px;
}

.tokenCount{
    color: #333;
    background-color: #f6c886;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 69%);
}


.accountSubmitButton {
    display: inline-block;
    width: 100%;
    height: 3.125rem;
    border: 1px solid #f6c886;
    border-radius: 0.375rem;
    background-color: #f6c886;
    color: #0d0f13;
    font: 600 1.5rem/0 "Open Sans", sans-serif;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 0.3rem
}

.accountSubmitButton:hover {
    border: 1px solid #f6c886;
    background-color: transparent;
    color: #f6c886;
}