.faStack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2em;
    margin-bottom: 1.25rem;
    margin-right: 0.375rem;
    font-size: 1.375rem;
}

.faStack .faStack2x {
    color: #3b384b;
    transition: all 0.2s ease;
}

.faStack:hover .faStack2x {
    color: #f6c886;
}

.faStack:hover .faStack1x {
    color: #333!important;
}

.faStack1x, .faStack2x {
    position: absolute;
    width: 100%;
}

.faStack1x {
    width: 26px;
    height: 26px;
    margin: 9px 9px;
}

.phoneLink a {
    color: #fff
}

.formControlInput {
    display: block;
    width: 100%;
    padding-top: 0.8em;
    padding-bottom: 0.625rem;
    padding-left: 1.3125rem;
    border: 1px solid #726e83;
    border-radius: 0.375rem;
    background-color: #423f52;
    color: #f1f1f8;
    font: 400 0.875rem/1.875rem "Open Sans", sans-serif;
    transition: all 0.2s;
    -webkit-appearance: none;
    outline: none;
}

.formControlTextarea {
    display: block;
    width: 100%;
    height: 14rem;
    padding-top: 1.25rem;
    padding-left: 1.3125rem;
    border: 1px solid #726e83;
    border-radius: 0.375rem;
    background-color: #423f52;
    color: #f1f1f8;
    font: 400 0.875rem/1.75rem "Open Sans", sans-serif;
    transition: all 0.2s;
    outline: none;
}

.formControlTextarea:hover, .formControlInput:hover {
    border: 1px solid #a1a1a1;
}

.formControlSubmitButton {
    display: inline-block;
    width: 100%;
    height: 3.125rem;
    border: 1px solid #f6c886;
    border-radius: 0.375rem;
    background-color: #f6c886;
    color: #ffffff;
    font: 600 1.5rem/0 "Open Sans", sans-serif;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 0.3rem;
}

.formControlSubmitButton:hover {
    border: 1px solid #f6c886;
    background-color: transparent;
    color: #f6c886;
}